[Unit]
Description=Docker Manager Web Service
After=network.target
Requires=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Documents/docker-manager
Environment=PATH=/root/Documents/docker-manager/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/root/Documents/docker-manager/start-service.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
